/* General defaults */
body {
  /* Fonts */
  font-family: Arial, Helvetica, Verdana, Georgia, sans-serif;
}

/* Main container */
#container {
  display: grid;

  /* Area specification */
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

  /* Spacing and position */
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Area assignments */
header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }
footer { grid-area: footer; }
